# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
initialization/initialization.iml
io/io.iml
io/src/
java-philosophy-book.iml
multithreading/multithreading.iml
multithreading/target/
objects/src/
exception/exception.iml
inheritance/inheritance.iml
.iml
/polymorphism/polymorphism.iml
/objects/objects.iml
exception/src/main/resources/
exception/src/test/
inheritance/src/main/resources/
inheritance/src/test/
initialization/src/
multithreading/src/main/resources/
multithreading/src/test/
polymorphism/src/main/java/lab_8_3/
polymorphism/src/main/java/lab_8_4/
polymorphism/src/main/java/lab_8_5/
polymorphism/src/main/java/lab_8_6/
polymorphism/src/main/java/lab_8_9/
polymorphism/src/main/java/my_lab/
polymorphism/src/main/resources/
polymorphism/src/test/
