# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
initialization/initialization.iml
io/io.iml
io/src/
java-philosophy-book.iml
multithreading/multithreading.iml
multithreading/target/
objects/src/
exception/exception.iml
inheritance/inheritance.iml
.iml
/polymorphism/polymorphism.iml
/objects/objects.iml
